<div row="class">
  <div class="col-md-4 col-md-offset-4">
    <h1>Create an Account</h1>

    <div class="well">
      <form role="form" ng-submit="vm.create()">
        <div class="form-group">
          <label for="create__email">Email</label>
          <input type="email" class="form-control" id="create__email" ng-model="vm.email" />
        </div>

        <div class="form-group">
          <label for="create__username">Username</label>
          <input type="text" class="form-control" id="create__username" ng-model="vm.username" />
        </div>

        <div class="form-group">
          <label for="create__password">Password</label>
          <input type="password" class="form-control" id="create__password" ng-model="vm.password" />
        </div>

        <div class="form-group">
          <label for="create__first_name">First Name</label>
          <input type="text" class="form-control" id="create__first_name" ng-model="vm.first_name"
                 placeholder="*Optional"/>
        </div>

        <div class="form-group">
          <label for="create__last_name">Last Name</label>
          <input type="text" class="form-control" id="create__last_name" ng-model="vm.last_name"
                 placeholder="*Optional" />
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-primary">Create</button>
        </div>
      </form>
    </div>
  </div>
</div>