
{% load staticfiles %}

<script type="text/javascript" src="{% static 'bower_components/jquery/dist/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/bootstrap/dist/js/bootstrap.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/underscore/underscore.js' %}"></script>

<script type="text/javascript" src="{% static 'bower_components/angular/angular.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-route/angular-route.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-cookies/angular-cookies.js' %}"></script>

<script type="text/javascript" src="{% static 'bower_components/ngDialog/js/ngDialog.js' %}"></script>

<script type="text/javascript" src="/app/angular/static/angular/js/app.js"></script>
<script type="text/javascript" src="{% static 'angular/js/config.js' %}"></script>
<script type="text/javascript" src="{% static 'angular/js/routes.js' %}"></script>
<script type="text/javascript" src="{% static 'angular/js/services/alert.service.js' %}"></script>
<script type="text/javascript" src="{% static 'angular/js/services/navigation.service.js' %}"></script>
<script type="text/javascript" src="{% static 'angular/js/services/account.service.js' %}"></script>
<script type="text/javascript" src="{% static 'angular/js/controllers/alert.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'angular/js/controllers/account.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'angular/js/controllers/layout.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'angular/js/controllers/account-details.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'angular/js/controllers/account-update.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'angular/js/directives/alert.directive.js' %}"></script>